*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-color1:#080401;
    --bg-color2:#522D09;
    --bg-color3:#5F3308;
    --font-color:#ffffff;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--bg-color1), var(--bg-color2), var(--bg-color3));
    color: var(--font-color);
    overflow: hidden;
}

.principal{
    background-color: aquamarine;
    width: 1200px;
    height: 500px;
    position: relative;
    margin: 50px auto;

    display: flex;
    align-items: center;
}

h1{
    background-color: cadetblue;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 35%;
    top: 10px;
}

fieldset{ 
    background-color: white;
    width: 800px;
    height: 500px;
}

.nomes{
    background-color: rgba(128, 255, 0, 0.438);
}

label{
    width: 200px;
    background-color: #080401;
}

div #genero{
    display: inline-block;
    margin-top: 20px;

}

input{
    background-color: blueviolet;
    margin-left: 50px;
}

.img{
    background-color: blue;
    width: 400px;
    height: 500px;
}