@import url('https://fonts.googleapis.com/css2? family= PT+Sans:ital@1 & display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

body{
    height: 100vh;
    background-image: url("../img/fundoAranha.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    color: white;
}

.container{
    max-width: 100%;
    height: 300px;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr,
.min,
.sec{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 5px 0 5px;
    font-size: 3em;
    background: transparent;
    backdrop-filter: blur(150px);
    border-radius: 50px;
    color: white;
}

.btn{
   display: flex;
   align-items: center;
   justify-content: center;
}

.button {
    width: 70px;
    height: 70px;
    margin: 10px;
<<<<<<< HEAD
=======
    text-align: center;
>>>>>>> e9bdfaf99d3678042c53ff74fb377c1bc4fff41b
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 50%;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px rgba(255, 0, 0, 0.733);
    background-image: linear-gradient(45deg, #df1f2d 0%, #b11313  51%, #00107a  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    background-position: right center;
}